h1 { background-color: black; color: white; }
.listing td { border: thin solid black; padding-left:1mm; padding-right:1mm; }
.listing td:hover { background-color: lavender; }
.caution { border: thin solid red; }
.xpose-variant-warning { position:fixed; bottom:0; left:0; right:0; border: thick solid red; background-color: orange; padding:2mm; font-size: xx-large; text-align: center; z-index:1000; }
.attach td { border: thin solid black; padding-left:1mm; padding-right:1mm; }
.manage-stats { empty-cells: show; border-collapse: collapse; }
.manage-stats td { border: thin solid black; }
.manage-stats td:first-child { font-weight: bold; }
.xpose-progress { border:0; padding:0; }
.xpose-progress div { border: thin solid red; }
.console { background-color: linen; width: 100%; height: 30em; }
.console + button { position: absolute; top: 0; right:0;  }
