h1 { background-color: black; color: white; }
#listing td { border: thin solid black; padding-left:1mm; padding-right:1mm; }
#listing td:hover { background-color: lavender; }
#listing-new { border: thin solid grey; border-bottom: none; background-color: ghostwhite; }
#listing-new span { border-bottom: thin solid grey; padding: 3px; font-weight: bold; }
#listing-new span:hover { background-color: grey; color: ghostwhite; }
#attach td { border: thin solid black; padding-left:1mm; padding-right:1mm; }
#xpose-progress div { border: thin solid red; }
div.console { border: thin solid red; background-color: linen; }
div.console button { border: thin solid red; float: right; }
